body {
    color: white;
    background-color: black;
}

#Logo {
    float: left;
    padding-top: 20px;
    Padding-bottom: 20px

}

img{
padding: 50px;
}
 
nav li {
display: inline-block;
margin: 0px auto;
font-size: 25px;
font-style: italic;
padding: 30px;
vertical-align: middle;
text-align: center;

}

main {
    font-size: 30px;
    color: red;
}
